In [1]:
import json
import pandas as pd
import matplotlib as plt

In [2]:
with open(r"C:\Users\dsilva2\OneDrive - Kent State University\Research_KSU_Share\SocMed-Personal-Data\instagram-technogecko-2024-08-16-vdXEFDYF\your_instagram_activity\likes\liked_posts.json") as j:
    dict = json.load(j)

In [3]:
df = pd.DataFrame(dict)

In [ ]:
df.head()

In [5]:
dict.keys()

dict_keys(['likes_media_likes'])

In [7]:
df2 = pd.DataFrame(dict['likes_media_likes'])

In [ ]:
df2.head()

In [10]:
type(df2['string_list_data'].iloc[0])

list

In [11]:
len(df2['string_list_data'].iloc[0])

1

In [13]:
df2['string_list_data'].iloc[0][0] == df2['string_list_data'].iloc[0]

False

In [14]:
df2['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/C-UPsphucGL/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1722982058}]

In [16]:
df2['string_list_data'].iloc[0][0]['timestamp']

1722982058

In [21]:
df2['Time of Like'] = [x[0]['timestamp'] for x in df2['string_list_data']]

In [22]:
df2.head()

,title,string_list_data,Time of Like
0,gu.comm.unity,[{'href': 'https://www.instagram.com/p/C-UPsph...,1722982058
1,gonzagacas,[{'href': 'https://www.instagram.com/p/C-N3u6t...,1722713263
2,batotoyetuportugal,[{'href': 'https://www.instagram.com/p/C97vrPf...,1722102612
3,melissarohwer,[{'href': 'https://www.instagram.com/reel/C92v...,1721931691
4,catsandkilos,[{'href': 'https://www.instagram.com/p/C90VZRF...,1721864550

In [24]:
df3 = pd.DataFrame([x[0] for x in df2['string_list_data']])

In [29]:
new_things = [x[0] for x in df2['string_list_data']]
pd.DataFrame(new_things).head()

                                          href value   timestamp
0     https://www.instagram.com/p/C-UPsphucGL/  ð  1722982058
1     https://www.instagram.com/p/C-N3u6tOBNs/  ð  1722713263
2     https://www.instagram.com/p/C97vrPfsF3j/  ð  1722102612
3  https://www.instagram.com/reel/C92viGvMcyu/  ð  1721931691
4     https://www.instagram.com/p/C90VZRFSuXv/  ð  1721864550

In [27]:
df3['title'] = df2['title']
df3.head()

,href,value,timestamp,title
0,https://www.instagram.com/p/C-UPsphucGL/,ð,1722982058,gu.comm.unity
1,https://www.instagram.com/p/C-N3u6tOBNs/,ð,1722713263,gonzagacas
2,https://www.instagram.com/p/C97vrPfsF3j/,ð,1722102612,batotoyetuportugal
3,https://www.instagram.com/reel/C92viGvMcyu/,ð,1721931691,melissarohwer
4,https://www.instagram.com/p/C90VZRFSuXv/,ð,1721864550,catsandkilos

In [35]:
df3.groupby('title').count().\
sort_values('href', ascending = False).head(10)

                  href  value  timestamp
title
ali_saurusrex       94     94         94
cacandassociates    41     41         41
ccikentstate        31     31         31
aroseroar16         30     30         30
orangekoala2        29     29         29
inalull             24     24         24
reams_esq           23     23         23
a_matt_silva        18     18         18
colin_storm         18     18         18
danneabreanne       17     17         17